
modules = ["python-3.12", "web", "bash"]
run = "python PACT3.0/start_server.py"

[nix]
channel = "stable-25_05"

[deployment]
run = ["python", "PACT3.0/start_server.py"]

[workflows]

[[workflows.workflow]]
name = "Install Dependencies"
author = 43152860
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python install.py"
